<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <title>Bermudas</title>
</head>

<body>
 <nav class="menu">
    <ul>
      <li><a href='/index'>Home</a></li>
      <li><a href='/produtos'>Produtos</a>
        <ul>
          <li><a href='/calcas'>Calças</a></li>
          <li><a href='/camisetas'>Camisetas</a></li>
          <li><a href='/bermudas'>Bermudas</a></li>
        </ul>
      </li>
      <li><a href='/ajuda'>Ajuda</a></li>
      <li><a href='/QS'>Quem Somos</a></li>
    </ul>
  </nav>
  <h1>Bermudas</h1>
  <div>
    <h3>Bermuda Preta</h3>
    <img src="https://img.elo7.com.br/product/zoom/377DB26/short-tactel-preto-liso-masculino-bermuda-lisa.jpg"
      alt="Bermuda Preta" style="float:center;width:300px;height:300px">
    <p>R$:69,99</p>
  </div>
</body>

</html>